<%= turbo_frame_tag "post-show" do %>
  <div class="post">
    <div class="post-heading">
      <h3><%= post.user.name %></h2>
      <% if current_user == post.user %>
        <%= button_to @post , method: :delete, class: "del-button" do%>
          <span class="material-symbols-outlined">
            delete
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="post-content">
      <p><%= post.content %></p>
      <%=turbo_frame_tag "like_button" do %>
        <%= render partial: 'likes/button', locals: {likeable: post , like: current_user.likes.find_by(likeable: post) } %>
      <% end %>
      <p><%= post.likes.count %></p>
    </div>
  </div>
  <div class="post-comments">
    <%# Render add comment form  %>
    <%= turbo_frame_tag "comment_form_#{post.id}" do %>
      <%= link_to 'Add a comment', new_post_comment_path(post) %>
    <% end %>
    <div id= <%= "post_#{post.id}_comments" %> class="comments_container">
      <%= render post.comments %>
    </div>
  </div>
<% end %>