<%= turbo_frame_tag "post-show-#{post.id}", data: {controller: "comment-handler"} , class: "post-container" do %>
  <div class="post">
    <div class="post-heading">
      <h3><%= post.user.name %></h2>
      <% if current_user == post.user %>
        <%= button_to post_path(post) , method: :delete, class: "del-button" do%>
          <span class="material-symbols-outlined">
            delete
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="post-content">
      <p><%= post.content %></p>
      <div class="like-container" data-controller="alter-button-counter">
        <%= button_to  root_path,method: :get, data: {comment_handler_target:"close", action:"comment-handler#toggle comment-handler#hideCommentSection"}, class: "material-button hidden" do%>
          <span class="material-symbols-outlined comment">
            comment
          </span>
        <% end %>
        <%= button_to  post_comment_section_path(post),method: :get, data: {turbo_frame: "post_#{post.id}_comment_section", comment_handler_target:"open", action:"comment-handler#toggle"}, class: "material-button" do%>
          <span class="material-symbols-outlined comment">
            comment
          </span>
        <% end %>
        <p data-comment-handler-target="counter"><%= post.comments.size %></p>
        <%= render partial: 'likes/button', locals: {likeable: post , like: current_user.likes.find_by(likeable: post) } %>
        <p data-alter-button-counter-target="counter"><%= post.likes.size %></p>
      </div>
    </div>
  </div>
  <%= turbo_frame_tag "post_#{post.id}_comment_section", data: {comment_handler_target: "commentSection"}%>
<% end %>