<%= turbo_frame_tag "post-show" do %>
  <div class="post">
    <div class="post-heading">
      <h3><%= post.user.name %></h2>
      <% if current_user == post.user %>
        <%= button_to @post , method: :delete, class: "del-button" do%>
          <span class="material-symbols-outlined">
            delete
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="post-content">
      <p><%= post.content %></p>
      <div class="like-container" data-controller="alter-button-counter">
        <%= render partial: 'likes/button', locals: {likeable: post , like: current_user.likes.find_by(likeable: post) } %>
        <p data-alter-button-counter-target="counter"><%= post.likes.size %></p>
      </div>
    </div>
  </div>
  <div class="post-comments">
    <%= turbo_frame_tag "comment_form_#{post.id}" do %>
      <%= link_to 'Add a comment', new_post_comment_path(post) %>
    <% end %>
    <div id= <%= "post_#{post.id}_comments" %> class="comments_container">
      <%= turbo_frame_tag "post_#{post.id}_comments" ,loading: :lazy, src: post_comments_path(post)  %>
    </div>
  </div>
<% end %>