<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <div class="grid-container">
        <nav >
          <ul class ="grid-nav">
            <div class="left" style="display:flex; gap:10px">
              <li class="home-button"><%= button_to "Home", root_path , method: :get %></li>
              <li class="home-button"><%= button_to "Users", users_path , method: :get %></li>
            </div>
            <% if user_signed_in? %>
              <div class="right">
                <li><%= button_to "Profile", user_path(current_user) , method: :get%></li>
                <li><%= button_to "Sign Out", destroy_user_session_path , method: :delete%></li>
              </div>
            <% else %>
              <div class="right">
                <li><%= button_to "Sign in", new_user_session_path , method: :get %></li>
                <li><%= button_to "Sign up", new_user_registration_path , method: :get%></li>
              </div>
            <% end %>
          </ul>
        </nav>
        <div class="content">
          <div></div>
          <div class="main"><%= yield %></div>
          <div id="right_side_bar"></div>
        </div>
        <footer>
          <p>Created by Bernard Maximiliano</p>
        </footer>
      </div>
    </body>
  </html>
