<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <div class="grid-container">
        <nav >
          <ul class ="grid-nav">
            <li class="home-button"><%= button_to "Home", root_path , method: :get %></li>
            <% if user_signed_in? %>
              <div class="right">
                <li><%= button_to "Profile", user_path(current_user) , method: :get%></li>
                <li><%= button_to "Sign Out", destroy_user_session_path , method: :delete%></li>
              </div>
            <% else %>
              <div class="right">
                <li><%= button_to "Sign in", new_user_session_path , method: :get %></li>
                <li><%= button_to "Sign up", new_user_registration_path , method: :get%></li>
              </div>
              @user
            <% end %>
          </ul>
        </nav>
        <div class="content">
          <div id="left-side-bar">
            <div class="left_card user-info">
              <%= turbo_frame_tag "user_info" , loading: "lazy" do%>
                <% if @user.avatar_url %>
                  <%= image_tag @user.avatar_url %>
                <% end %>
                <h1><%= @user.name %></h1>
                <p>Account created: <%= @user.created_at.strftime("%B %d, %Y") %></p>
              <% end %>
            </div>
            <div class="left_card">
              <% if @user==current_user %>
                <%=button_to "Edit Profile", edit_user_registration_path , method: :get, class: "btn-primary" %>
              <% end %>
            </div>
          </div>
          <div class="main"><%= yield %></div>
          <div id="right_side_bar">
            <div class="right_card followees">
              <%= turbo_frame_tag "followees" , loading: "lazy" , src: followees_user_path(@user)%>
            </div>
            <div class="right_card followers">
              <%= turbo_frame_tag "followers" , loading: "lazy" , src: followers_user_path(@user)%>
            </div>
            <div class="right_card follow-requests">
              <% if current_user == @user %>
                <%= turbo_frame_tag "follow-requests" , loading: "lazy" , src: follow_requests_user_path(@user)%>
              <% end %>
            </div>
          </div>
        </div>
        <footer>
          <p>Created by Bernard Maximiliano</p>
        </footer>
      </div>
    </body>
  </html>
